#include <windows.h>
#include "racebox_version.h"

1 VERSIONINFO
FILEVERSION RACEBOX_FILE_VERSION
PRODUCTVERSION RACEBOX_PRODUCT_VERSION
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "FileDescription", "RaceBox Telemetry Viewer 2\0"
      VALUE "ProductName", "RaceBox Telemetry Viewer\0"
      VALUE "FileVersion", RACEBOX_VERSION_STRING
      VALUE "ProductVersion", RACEBOX_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
